spring:
  datasource:
    url: jdbc:mysql://localhost:3306/cinego
    username: root
    password:
    driver-class-name: com.mysql.cj.jdbc.Driver

  autoconfigure:
    exclude:
      - org.springframework.boot.autoconfigure.security.servlet.SecurityAutoConfiguration

  seguranca:
    secret: aminhasenha2003
    expirationTime: 360

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQL8Dialect

  mail:
    host: smtp.gmail.com
    port: 587
    username: bcomel0016@gmail.com
    password: jqztdbyijejqetxt
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true

server:
  error:
    include-message: always
    include-binding-errors: always

  jackson:
    serialization:
      write-dates-as-timestamps: false
